[Unit]
Description=Securely release assets on GitHub.
Documentation=https://github.com/pyama86/github-assets-canary-releases
After=network.target

[Service]
Restart=on-failure
EnvironmentFile=/etc/default/gacr
ExecStart=/usr/bin/gacr $ARGS
StartLimitInterval=60
StartLimitBurst=2
StartLimitInterval=300

[Install]
WantedBy=multi-user.target
